#root {
  padding: 15px;
  background-color: #f4f4fe;
}

.visits-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.visit-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.visit-card__row:not(:last-child) {
  border-bottom: 2px solid #dfe0e1;
}

.visit-card__row {
  display: flex;
  justify-content: space-between;
}
